.main-content {
  padding-top: 5rem;
  padding-left: 1rem;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: auto;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: background-color 0.3s ease;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}